body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #e2e8f0;
}

.hidden {
    display: none;
}

.occupied {
    border: 1px solid rgb(0, 47, 255);
    background-color: #94a3b8;
}

.header {
    height: 40px;
    width: 100vw;
    background-color: #94a3b8;
}

.header h1 {
    margin-top: 0;
    padding-left: 10px;
}

.newGameBtn {
    cursor: pointer;
    border: none;
    height: 40px;
}

.newGameBtn:hover {
    background-color: #e2e8f0;
}

.newGameBtn:active {
    background-color: #cbd5e1;
}

.mainContentContainer {
    display: flex;
    justify-content: center;
}

.gameboardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.playerHeader {
    margin: 5px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 400px;
    width: 400px;
    border: 2px solid rgb(120, 120, 120);
}

.gameboardOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboardOneSquare {
    height: 38px;
    width: 38px;
    border: 1px solid rgb(175, 175, 175);
}

.gameboardOneSquare.over {
    background-color: rgba(0, 128, 0, 0.664);
}

.gameboardOneSquare:hover {
    cursor: pointer;
    background-color: rgb(255, 210, 210);
}

.gameboardOneSquare:active {
    background-color: rgb(255, 190, 190);
}

.gameboardTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboardTwoSquare {
    height: 38px;
    width: 38px;
    border: 1px solid rgb(175, 175, 175);
}

.gameboardTwoSquare.over {
    background-color: rgba(0, 128, 0, 0.664);
}

.gameboardTwoSquare:hover {
    cursor: pointer;
    background-color: rgb(255, 210, 210);
}

.gameboardTwoSquare:active {
    background-color: rgb(255, 190, 190);
}

.shipContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    width: 400px;
    height: auto;
    border: 2px solid rgb(120, 120, 120);
}

.carrier {
    margin: 10px;
    cursor: move;
    width: 200px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(141, 141, 141);
}

.rotateCarrier {
    width: 40px !important;
    height: 200px !important;
}

.destroyer {
    margin: 10px;
    cursor: move;
    width: 160px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(141, 141, 141);
}

.rotateDestroyer {
    width: 40px !important;
    height: 160px !important;
}

.battleship1 {
    margin: 10px;
    cursor: move;
    width: 120px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(141, 141, 141);
}

.rotateBattleship {
    width: 40px !important;
    height: 120px !important;
}

.battleship2 {
    margin: 10px;
    cursor: move;
    width: 120px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(141, 141, 141);
}

.lifeRaft {
    margin: 10px;
    cursor: move;
    width: 40px;
    height: 40px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(141, 141, 141);
}